.max-width{
    max-width: 80%;
    margin: 0 auto;
}



.logo-title{
    /* color: red; */
    /* justify-content: center; */
    display: flex;
    /* border: 1px solid red; */
}
.content{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    /* align-items: center; */
}
.text-item{
    list-style: none;
    display: flex;
    /* text-align: center; */
    /* justify-content: center; */
    gap: 60px;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-direction: row; */
}
.text{
    /* text-align: center; */
    align-items: center;
    color: black;
    font-style: bold;
    font-weight: 700;
    font-size: 32px;
}
.item-one{
    color: rgba(254, 163, 1, 1);
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
    line-height: 30px;
}
.item-two{
color: rgba(1, 172, 253, 1);
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: left;;
}
.item-three{
color: rgba(5, 212, 223, 1);
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: left;;
}
.item-four{
    color: rgba(93, 88, 239, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.btn-primary{
    background: rgba(254, 163, 1, 1);
    color: white;
    border: none;
    /* justify-content: center; */
    align-items: center;
    border-radius: 12px;
    margin-top: 10px;
    padding: 10px;
    gap: 10;
    width: 190px;
    height: 50px;
}



.banner{
    display: flex;
}
.banner-content{
    /* justify-content: center; */
    flex-direction: column;
    /* justify-content: flex-start; */
    /* display: flex; */
    gap: 24px;
}


/* .main-section{
    background-image: url(assets/bg.png);
} */
 .standard-curriculum{
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    

 }
 /* .curriculum-content{
    display: flex;
 } */
  /* .curriculum-content{
    display: flex;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
  } */
 /* .curriculum-title{
    align-items: center;
    text-align: center;
    display: flex;
 } */
 .text-two{
    text-align: center;
 }
 /* .curriculum-content{
    text-align: center;
   
 }
 .team{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .part-one{
 text-align: center;
 } */

  .curriculum-content{
    display: flex;
    justify-content: space-between;
    
  }